body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
/* Load the base css reset styles*/

@layer base {
    /* Add any custom styles to base */
}

@tailwind components;
/* Load components styles */

@layer components {
    /* Add any custom styles to components */
}

@tailwind utilities;
/* Load utilities styles */

@layer utilities {
    /* Add any custom styles to utilities */
}